.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20vh;
  position: fixed;
  top: 0;
  background-color: grey;
}

.main {

}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: grey;
}
